language: android

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.2
    - support-repository
    - android-25
    - extra-android-m2repository


jdk:
  - oraclejdk8

after_success:
  - bash <(curl -s https://codecov.io/bash)

script:
  - chmod +x gradlew
  - ./gradlew clean build jacocoTestReport


cache:
  directories:
    - $HOME/.gradle